<footer class="footer-wrapper">
    <div class="btn-wrapper">
      <a class="btn btn-default" href="https://github.com/amituidev/lib4dev/issues/new" target="_blank">
        Report an issue
      </a>
    </div>
    <div class="copy-write">
      <p>Design and develop by <a href="https://github.com/amituidev" target="_blank">Amit Mishra</a></p>
    </div>
</footer>
