<div id="markdown">
  <div id="283458786">
    <script type="text/javascript">
      try {
        window._mNHandle.queue.push(function () {
          window._mNDetails.loadTag("283458786", "300x250", "283458786");
        });
      }
      catch (error) { }
    </script>
  </div>
  <div class="repo-info-wrapper">
    <div class="star">
      <span><%= reposInfo && numberKFormatter(reposInfo.stargazers_count) %></span>
      <img src="/svg/star.svg" />
    </div>
    <div class="view-on">
      <a class="view" target="_blank" href="<%= reposInfo && reposInfo.html_url %>">View on github</a>
    </div>
  </div>
  <div class="markdown-body">
    <%- content %>
  </div>
</div>