
<div id="markdown">
  <div class="repo-info-wrapper">
    <div class="star">
      <span><%= reposInfo && numberKFormatter(reposInfo.stargazers_count) %></span>
      <img src="/svg/star.svg" />
    </div>
    <div class="view-on">
      <a class="view" target="_blank" href="<%= reposInfo && reposInfo.html_url %>">View on github</a>
    </div>
  </div>
  <div class="markdown-body">
    <%- content %>
  </div>
</div>
