<div class="wrapper">
  <div class="widget">
    <!-- <h4>Get In Touch</h4> -->
    <div class="fork-me">
      <a href="https://github.com/amitmishrg/lib4dev" target="_blank"
        >Fork me on Github</a
      >
    </div>
  </div>
  <div class="widget">
    <div id="943132942">
      <script type="text/javascript">
        try {
          window._mNHandle.queue.push(function () {
            window._mNDetails.loadTag('943132942', '300x250', '943132942');
          });
        } catch (error) {}
      </script>
    </div>
  </div>
</div>
