<div class="wrapper">
  <div class="logo-wrapper">
    <div class="fork-me">
      <a href="https://github.com/amitmishrg/lib4dev" target="_blank">Fork me on Github</a>
    </div>
    <a href="/">
      <img src="/svg/logo.svg" alt="logo" />
    </a>
    <div class="social-links">

    </div>
  </div>
</div>