<div class="wrapper">
  <div class="widget">
    <!-- <h4>Get In Touch</h4> -->
    <div class="fork-me">
      <a href="https://github.com/amitmishrg/lib4dev" target="_blank">Fork me on Github</a>
    </div>
  </div>
  <div id="283458786">
    <script type="text/javascript">
      try {
        window._mNHandle.queue.push(function () {
          window._mNDetails.loadTag("283458786", "300x250", "283458786");
        });
      }
      catch (error) { }
    </script>
  </div>
</div>