.card-section {
  display: block;
  padding: 0 10px 0 10px;
}
.card-container {
  background: #FFFFFF;
  box-shadow: 1px 6px 10px rgba(164, 164, 164, .3);
  padding: 15px;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
  width: calc(20% - 30px);
  padding: 15px;
  float: left;
  margin: 15px;
  @media only screen and (max-width: 1900px) {
    width: calc(25% - 30px);
  }
  @media only screen and (max-width: 1600px) {
    width: calc(33.33% - 30px);
  }
  @media only screen and (max-width: 1200px) {
    width: calc(50% - 30px);
  }
  @media only screen and (max-width: 575px) {
    width: calc(100% - 30px);
  }
  header {
    .logo {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      float: left;
      margin-right: 10px;
      img {
        vertical-align: middle;
        max-width: 100%;
        border-radius: 50%;
      }
      h3 {
        font-size: 30px;
        line-height: 60px;
        color: #739FFC;
      }
    }
    .title {
      margin-left: 10px;
      h4 {
        font-size: 16px;
        line-height: 50px;
        color: #323552;
        text-transform: capitalize;
        white-space: nowrap;
        width: calc(80% - 50px);
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .star-bg {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: rgba(247, 75, 95, 0.07);
      position: absolute;
      right: -60px;
      top: -65px;
    }
    .star {
      position: absolute;
      right: 30px;
      top: 15px;
      span {
        font-size: 14px;
        color: #D0D0D0;
      }
      img {
        position: absolute;
        top: -8px;
        right: -23px;
      }
    }
  }
  .body {
    margin-top: 15px;
    p {
      color: #858797;
      font-size: 14px;
      height: 60px;
      overflow: hidden;
    }
    .tags {
      ul {
        padding: 0;
        list-style: none;
        display: flex;
        li {
          font-size: 10px;
          line-height: 12px;
          color: #FC7B7D;
          border: 1px solid #FC7B7D;
          padding: 3px 5px;
          margin-right: 10px;
          border-radius: 4px;
          text-transform: uppercase;
        }
      }
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    ul {
      padding: 0;
      list-style: none;
      display: flex;
      margin: 0;
      li {
        margin-right: 10px;
        span {
          font-size: 12px;
          color: #7a7d97;
          font-weight: 500;
        }
        img {
          width: 12px;
        }
      }
    }
    a {
      background: #739ffc;
      color: #fff;
      padding: 7px 20px;
      border-radius: 20px;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 12px;
      line-height: 14px;
      margin-top: -9px;
      &:hover {
        background: #5b8aef;
      }
    }
  }
}
