.footer-wrapper {
  margin-top: 20px;
  background: #fff;
  padding: 30px 0;
  text-align: center;
  box-shadow: 0 1px 10px rgba(164,164,164,.15);
  .btn-wrapper {
    padding-bottom: 30px;
    border-bottom: 1px solid #f1f1f3;
    a {
      text-transform: uppercase;
      background: #d3485d;
      width: 170px;
      padding: 10px;
      border-radius: 20px;
      font-size: 14px;
      color: #fff;
      border: none;
      font-weight: 500;
      &:hover {
        background: #d23149;
      }
    }
  }
  .copy-write {
    p {
      color: #85879D;
      font-size: 12px;
      margin-bottom: 0;
      line-height: 12px;
      a {
        color: #739ffc;
        text-decoration: underline;
        &:hover {
          color: #5b8aef;
        }
      }
    }
  }
}
