body {
  background: #FAFAFC;
}
.main-container {
  main {
    width: 90%;
    margin: 0 auto;
    @media only screen and (max-width: 900px) {
      width: 95%;
    }
  }
  #main {
    
  }
  section {
    display: flex;
    @media only screen and (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    &.row {
      .sidebar {
        margin-top: 10px;
      }
    }
  }
  .row {
    margin: 0;
  }
}

.overflow {
  overflow: hidden;
}

a {
  text-decoration: none;
}
.link {
  font-size: 15px;
  line-height: 18px;
  padding: 5px 10px;
  color: $secondary-color;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-transform: capitalize;
  @media only screen and (max-width: 900px) {
    font-size: 14px;
  }
  &:hover, &:focus {
    background: rgba(152, 177, 227, .08);
    text-decoration: none;
  }
  &.active {
    background: rgba(152, 177, 227, .16);
  }
}

.page {
  margin: 50px 0;
  .sidebar {
    margin-left: 25px;
    @media only screen and (max-width: 900px) {
      margin-left: 0;
    }
  }
}

.page-content {
  padding: 30px;
  background: #fff;
  border-radius: 6px;
  width: calc(100% - 300px);
  @media only screen and (max-width: 900px) {
    width: 100%;
    margin-bottom: 30px;
  }

  h2, h3, h2, h4 {
    margin: 25px 0;
  }
  p, li {
    font-size: 16px;
    line-height: 28px;
    margin: 10px 0;
  }
  a {
    color: $primary-color;
  }
  ul {
    margin: 15px 0;
  }
}
  