body {
  background: #FAFAFC;
}
.main-container {
  display: flex;
  main {
    margin-left: 350px;
    width: calc(100% - 350px);
    @media only screen and (max-width: 900px) {
      width: calc(100%);
      margin-left: 0;
    }
  }
  .row {
    margin: 0;
  }
}
