body {
  background: #FAFAFC;
}
.main-container {
  display: flex;
  main {
    margin-left: 300px;
    width: calc(100% - 300px);
    @media only screen and (max-width: 900px) {
      width: calc(100%);
      margin-left: 0;
    }
  }
  #main {
    @media only screen and (max-width: 900px) {
      &.push {
        transform: translateX(250px);
      }
    }
  }
  .row {
    margin: 0;
  }
}
