body {
  background: #fafafc;
}
.main-container {
  main {
    width: 90%;
    margin: 0 auto;
    @media only screen and (max-width: 900px) {
      width: 95%;
    }
  }
  #main {
  }
  section {
    display: flex;
    @media only screen and (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: center;
    }
    &.row {
      .sidebar {
        margin-top: 10px;
      }
    }
  }
  .row {
    margin: 0;
  }
}

.overflow {
  overflow: hidden;
}

a {
  text-decoration: none;
}
.link {
  font-size: 15px;
  line-height: 18px;
  padding: 5px 10px;
  color: $secondary-color;
  border-radius: 4px;
  display: block;
  text-decoration: none;
  white-space: nowrap;
  text-transform: capitalize;
  @media only screen and (max-width: 900px) {
    font-size: 14px;
  }
  &:hover,
  &:focus {
    background: rgba(152, 177, 227, 0.08);
    text-decoration: none;
  }
  &.active {
    background: rgba(152, 177, 227, 0.16);
  }
}

.page {
  margin: 50px 0;
  .sidebar {
    margin-left: 25px;
    @media only screen and (max-width: 900px) {
      margin-left: 0;
    }
  }
}

.page-content {
  padding: 30px;
  background: #fff;
  border-radius: 6px;
  width: calc(100% - 320px);
  @media only screen and (max-width: 900px) {
    width: 100%;
    margin-bottom: 30px;
  }

  h2,
  h3,
  h2,
  h4 {
    margin: 25px 0;
  }
  p,
  li {
    font-size: 16px;
    line-height: 28px;
    margin: 10px 0;
  }
  a {
    color: $primary-color;
  }
  ul {
    margin: 15px 0;
  }
  #share {
    display: flex;
    list-style: none;
    padding: 0;
    li {
      margin-right: 10px;
      a {
        width: 35px;
        height: 35px;
        background: #d84a5f;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        &.twitter {
          background: #55acee;
        }
        &.facebook {
          background: #3b5999;
        }
        &.google {
          background: #dd4b39;
        }
        img {
          width: 13px;
        }
      }
    }
  }
}
