.header-wrap {
  position: sticky;
  top: 0;
  z-index: 1;
  background: $primary-color;
  height: 50px;
  box-shadow: 0px 1px 10px rgba(164, 164, 164, 0.15);
  @media only screen and (max-width: 500px) {
    padding: 10px 0;
    height: auto;
  }
  @media only screen and (max-width: 900px) {
    width: calc(100%);
  }
  
  .loader {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: none;
    @media only screen and (max-width: 800px) {
      display: none!important;
    }
  }
}
.top-header {
  width: 90%;
  margin: 0 auto;
  padding: 4px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media only screen and (max-width: 900px) {
    width: 95%;
  }
  @media only screen and (max-width: 500px) {
    flex-wrap: wrap;
  }
  form {
    position: relative;
  }
  ul {
    list-style: none;
    flex: 1;
    display: flex;
    margin: 0;
    @media only screen and (max-width: 500px) {
      margin-bottom: 10px;
      padding: 0;
      justify-content: center;
    }
    li {
      margin-right: 10px;
    }
    a {
      color: #fff;
    }
  }
  .heading {
    a {
      display: block;
    }
    img {
      width: 40px;
    }
    h2 {
      font-size: 20px;
      line-height: 28px;
      font-weight: 400;
    }
  }
  .menu {
    position: relative;
    top: 5px;
    display: none;
    cursor: pointer;
    @media only screen and (max-width: 900px) {
      display: block;
    }
    img {
      width: 30px;
    }
  }
  .search-wrapper {
    position: relative;
    @media only screen and (max-width: 500px) {
      width: 100%;
      display: flex;
      justify-content: center;
    }
      .form-control {
        background: #fafafc;
        border: 1px solid #f5f5f7;
        color: #85879d;
        font-weight: 400;
        font-size: 14px;
        box-shadow: none;
        padding: 15px 10px;
        line-height: 20px;
        width: 250px;
      }
      .search-submit {
        position: absolute;
        top: 5px;
        right: 10px;
        background: transparent;
        border: none;
        &:focus {
          outline: none;
        }
        img {
          width: 15px;
        }
      }

  }
}
