.header-wrap {
  position: fixed;
  width: calc(100% - 350px);
  z-index: 1;
  @media only screen and (max-width: 900px) {
    width: calc(100%);
  }
}
.top-header {
  background: #fff;
  padding: 25px 30px 25px 30px;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 1px 10px rgba(164, 164, 164, 0.15);
  .heading {
    display: flex;
    position: relative;
    top: 5px;
    @media only screen and (max-width: 900px) {
      display: none;
    }
    img {
      position: relative;
      top: -6px;
      left: -5px;
      width: 20px
    }
    h2 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 400
    }
  }
  .search-wrapper {
    position: relative;
      .form-control {
        background: #fafafc;
        border: 1px solid #f5f5f7;
        color: #85879d;
        font-weight: 400;
        font-size: 16px;
        box-shadow: none;
        padding: 20px 10px;
        line-height: 20px;
        width: 250px;
      }
      img {
        position: absolute;
        top: 13px;
        right: 12px;
        width: 15px;
      }
  }
}
