.pagination-wrapper {
  margin: 0 auto;
  text-align: center;
  .pagination {
    padding-left: 0;
    margin: 40px 0 30px 0;
    border-radius: 4px;
  }
  .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    background-color: #739ffc;
    border-color: #739ffc;
    cursor: default;
    border: none;
    border-radius: 50%;
  }
  .pagination>.disabled>a, .pagination>.disabled>a:focus, .pagination>.disabled>a:hover, .pagination>.disabled>span, .pagination>.disabled>span:focus, .pagination>.disabled>span:hover {
    color: #777;
    background: #efefef;
    border-color: #efefef;
    cursor: not-allowed;
    border: none;
  }
  .pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #858797;
    background-color: transparent;
    border: 1px solid #739ffc;
    margin-left: -1px;
    border: none;
    background: #ededef;
    border-radius: 50%;
    margin: 0 3px;
    &:hover {
      background: #e2e7f3;
    }
  }
}
