<% include ../header/index.ejs %>
<main id="main">
  <div class="row">
    <div class="not-found-wrapper page-404">
      <div class="not-found">
        <img src="/svg/404-error.svg" />
        <h3>Oops!</h3>
        <p><%= errMessages %></p>
      </div>
    </div>
  </div>
</main>
<% include ../footer/index.ejs %>
