<% include ../header/index.ejs %>
<div class="main-container">
  <aside class="sidebar">
    <% include ../sidebar/index.ejs %>
  </aside>
  <main id="main">
    <% include ../header/top-header.ejs %>
    <div class="row">
      <div class="not-found-wrapper">
        <div class="not-found">
          <img src="/svg/empty-white-box.svg" />
          <p>No Result found</p>
        </div>
      </div>
    </div>
  </main>
</div>
<% include ../footer/index.ejs %>
