<div id="social-share-wrapper">
  <div class="share-btn">
    <img src="/svg/share.svg" />
  </div>
  <ul id="share">
      <li>
        <a data-type="twitter" class="twitter" href="#" onclick="popup(this);return false;">
          <img src="/svg/twitter.svg" />
        </a>
      </li>
      <li>
        <a data-type="facebook" class="facebook" href="#" onclick="popup(this);return false;">
          <img src="/svg/facebook.svg" />
        </a>
      </li>
      <li>
        <a data-type="google" class="google" href="#" onclick="popup(this);return false;">
          <img src="/svg/google.svg" />
        </a>
      </li>
      <div class="share-bg"></div>
  </ul>
</div>
</div>
