<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Awesome library for developers">
    <meta name="keywords" content="NODE,CSS,Express,JavaScript,Awesome,Library,Node-js">
    <meta name="author" content="Amit Mishra">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>lib4dev</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
  </head>
  <body>
