<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="Awesome libraries for developers">
    <meta name="keywords" content="NODE,CSS,Express,JavaScript,Awesome,Library,Node-js">
    <meta name="author" content="Amit Mishra">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="lib4dev"/>
    <meta property="og:description" content="Awesome libraries for developers"/>
    <meta property="og:image" content="http://www.lib4dev.com/img/banner.png"/>
    <link rel="icon" href="/img/favicon.png" type="image/png" sizes="16x16">
    <title>lib4dev</title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-1154902560623449",
        enable_page_level_ads: true
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-62534376-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-62534376-2');
    </script>
  </head>
  <body>
