<div class="header-wrap">
  <div class="top-header">
    <div class="heading">
      <embed type="image/svg+xml" src="/svg/flash.svg" />
      <h2>Popular Library</h2>
    </div>
    <div class="search-wrapper">
      <form action="/query" method="get" class="search-form">
      	 <input type="text" class="form-control" value="<%= searchTerm %>" name="search" id="search" placeholder="Seach library...">
         <embed type="image/svg+xml" src="/svg/search.svg" />
      </form>
    </div>
  </div>
</div>
