<div class="header-wrap">
  <div class="top-header">
    <div class="heading">
      <img src="/svg/flash.svg" />
      <h2>Popular Library</h2>
    </div>
    <div class="menu" id="menu">
      <img src="/svg/menu.svg"/>
    </div>
    <div class="search-wrapper">
      <form action="/query" method="get" class="search-form">
      	 <input type="text" class="form-control" value="<%= searchTerm %>" name="search" id="search" placeholder="Seach library...">
         <img src="/svg/search.svg" />
      </form>
    </div>
  </div>
</div>
