<% include header/index.ejs %>
<div class="main-container">
  <% include header/top-header.ejs %>
  <main id="main">
    <section class="page">
      <div class="page-content">
        <h2>About</h2>
        <hr/>
        <p>
          Find the best library for any programming language using the <strong>lib4dev</strong>. 
          It provides a simple interface where you can sort libraries by <strong>Best Match</strong>, <strong>Most Stars</strong>, <strong>Most Forks</strong> and <strong>Recently Updated</strong>. 
          You can also search any library using the search feature and by topic name.
        </p>
        <blockquote>
          <p>Make you development easy and fast using awesome libraries.</p>
        </blockquote>
        <h4>
        <svg viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
        </svg>
        Features</h4>
        <ul>
          <li>Sort by best match, most stars, most forks, and recently updated</li>
          <li>Search any library by name</li>
          <li>Search by topic name</li>
        </ul>
        <h4>
        <svg viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
        </svg>
        Popular languages</h4>
        <ul>
          <li><a href="http://www.lib4dev.in/topics/swift" rel="nofollow">Swift</a></li>
          <li><a href="http://www.lib4dev.in/topics/objective-c" rel="nofollow">Objective-c</a></li>
          <li><a href="http://www.lib4dev.in/topics/shell" rel="nofollow">Shell</a></li>
          <li><a href="http://www.lib4dev.in/topics/python" rel="nofollow">Python</a></li>
          <li><a href="http://www.lib4dev.in/topics/javascript" rel="nofollow">JavaScript</a></li>
          <li><a href="http://www.lib4dev.in/topics/java" rel="nofollow">Java</a></li>
          <li><a href="http://www.lib4dev.in/topics/html" rel="nofollow">HTML</a></li>
          <li><a href="http://www.lib4dev.in/topics/c" rel="nofollow">C</a></li>
          <li><a href="http://www.lib4dev.in/topics/ruby" rel="nofollow">Ruby</a></li>
          <li><a href="http://www.lib4dev.in/topics/php" rel="nofollow">PHP</a></li>
          <li><a href="http://www.lib4dev.in/topics/sql" rel="nofollow">SQL</a></li>
          <li><a href="http://www.lib4dev.in/topics/node" rel="nofollow">Node</a></li>
          <li><a href="http://www.lib4dev.in/topics/css" rel="nofollow">CSS</a></li>
          <li><a href="http://www.lib4dev.in/topics/go" rel="nofollow">GO</a></li>
        </ul>
        <h4>
        <svg viewBox="0 0 16 16" version="1.1" width="16" height="16" aria-hidden="true">
          <path fill-rule="evenodd" d="M4 9h1v1H4c-1.5 0-3-1.69-3-3.5S2.55 3 4 3h4c1.45 0 3 1.69 3 3.5 0 1.41-.91 2.72-2 3.25V8.59c.58-.45 1-1.27 1-2.09C10 5.22 8.98 4 8 4H4c-.98 0-2 1.22-2 2.5S3 9 4 9zm9-3h-1v1h1c1 0 2 1.22 2 2.5S13.98 12 13 12H9c-.98 0-2-1.22-2-2.5 0-.83.42-1.64 1-2.09V6.25c-1.09.53-2 1.84-2 3.25C6 11.31 7.55 13 9 13h4c1.45 0 3-1.69 3-3.5S14.5 6 13 6z"></path>
        </svg>
        Popular topics</h4>
        <ul>
          <li><a href="http://www.lib4dev.in/topics/react" rel="nofollow">React</a></li>
          <li><a href="http://www.lib4dev.in/topics/docker" rel="nofollow">Docker</a></li>
          <li><a href="http://www.lib4dev.in/topics/machine-learning" rel="nofollow">Machine Learning</a></li>
          <li><a href="http://www.lib4dev.in/topics/android" rel="nofollow">Android</a></li>
          <li>more...</li>
        </ul>
      </div>
      <aside class="sidebar">
        <% include sidebar/index.ejs %>
      </aside>
    </section>
  </main>
  <% include footer/content.ejs %>
</div>
<% include footer/index.ejs %>
