<% include header/index.ejs %>
<div class="main-container">
  <% include header/top-header.ejs %>
  <main id="main">
    <section class="page">
      <div class="page-content">
        <h2>Feature Request or Issue  </h2>
        <hr/>
        <p>If you found any issue or want to request for new feature? Please open an <a href="https://github.com/amituidev/lib4dev/issues/new">issue</a>.</p>
      </div>
      <aside class="sidebar">
        <% include sidebar/index.ejs %>
      </aside>
    </section>
  </main>
  <% include footer/content.ejs %>
</div>
<% include footer/index.ejs %>
