<% include header/index.ejs %>
<div class="main-container">
  <aside class="sidebar">
    <% include sidebar/index.ejs %>
  </aside>
  <main id="main">
    <% include header/top-header.ejs %>
    <% include filter/index.ejs %>
    <div class="row">
      <div class="card-section clearfix">
        <% include card/index.ejs %>
      </div>
    </div>
    <div class="row">
      <% include pagination/index.ejs %>
    </div>
    <% include footer/content.ejs %>
  </main>
</div>
<% include footer/index.ejs %>
