<% include header/index.ejs %>
<div class="main-container">
  <!-- <aside class="sidebar">
    <% include sidebar/index.ejs %>
  </aside> -->
  <% include header/top-header.ejs %>
  <main id="main">
    <% include filter/index.ejs %>
    <div class="row">
      <div class="card-section clearfix">
        <div id="283458786" class="card-container">
          <script type="text/javascript">
            try {
              window._mNHandle.queue.push(function () {
                window._mNDetails.loadTag("283458786", "300x250", "283458786");
              });
            }
            catch (error) { }
          </script>
        </div>
        <% include card/index.ejs %>
      </div>
    </div>
    <div class="row">
      <% include pagination/index.ejs %>
    </div>
  </main>
  <% include footer/content.ejs %>
</div>
<% include footer/index.ejs %>