<% include header/index.ejs %>
<div class="main-container">
  <% include header/top-header.ejs %>
  <main id="main">
    <% include filter/index.ejs %>
    <section class="row">
      <div class="card-section clearfix">
        <% include card/index.ejs %>
      </div>
      <aside class="sidebar">
        <% include sidebar/index.ejs %>
      </aside>
    </section>
    <div class="row">
      <% include pagination/index.ejs %>
    </div>
  </main>
  <% include footer/content.ejs %>
</div>
<% include footer/index.ejs %>