<% include header/index.ejs %>
<div class="main-container">
  <aside class="sidebar">
    <% include sidebar/index.ejs %>
  </aside>
  <main id="main">
    <% include header/top-header.ejs %>
    <% include description/index.ejs %>
  </main>
</div>
<% include footer/index.ejs %>
