<% include header/index.ejs %>
<div class="main-container">
  <!-- <aside class="sidebar">
    <% include sidebar/index.ejs %>
  </aside> -->
  <% include header/top-header.ejs %>
  <main id="main">
    <% include description/index.ejs %>
  </main>
  <% include footer/content.ejs %>
</div>
<% include footer/index.ejs %>